/* Wrapper for the whole component */
.info-wrapper {
  display: flex;
  flex-direction: row; /* 水平排列 info 和 handle-container */
  justify-content: space-between; /* 确保两个部分分别对齐 */
  align-items: center; /* 垂直居中 */
  width: 100%;
  padding-bottom: 10px; /* 底部内边距 */
}

/* info 部分 */
.info {
  display: flex;
  align-items: center; /* logo 和标题垂直居中 */
  gap: 10px; /* logo 和标题之间的间距 */
}

.info img {
  width: 50px; /* 设置 logo 的大小 */
  height: 50px;
}

.info span {
  font-size: 18px; /* 设置文字大小 */
  font-weight: bold; /* 设置文字加粗 */
  color: #333; /* 设置文字颜色 */
}

/* handle-container 部分 */
.handle-container {
  display: flex;
  flex-direction: row; /* 水平排列 handle 和 window-handle */
  align-items: center; /* 垂直居中 */
  gap: 20px; /* 给 handle 和 window-handle 部分留间距 */
  padding: 15px;
}

/* handle 区域 */
.handle {
  display: flex;
  align-items: center;
}

/* window-handle 区域 */
.window-handle {
  display: flex;
  gap: 10px; /* 按钮之间的间距 */
}

/* 按钮基本样式 */
.window-handle div {
  width: 30px;
  height: 30px;
  background-color: #ccc;
  /*按钮背景色*/
  border-radius: 50%;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* 各个按钮的颜色 */
.window-handle .minimize {
  background: center / 20px no-repeat url("../../assets/svg/minimize.svg");

}

.window-handle .maximize {
  background-color: #5bc0de; /* 最大化按钮的颜色 */
  background: center / 20px no-repeat url("../../assets/svg/maximize.svg");

}


.window-handle .close {
  background: center / 20px no-repeat url("../../assets/svg/close.svg");
}

.window-handle .close:hover {
  background-image: url("./assets/close-hover.svg");
}
